<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale-1, maximum-scale-1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
        <title>Muestra Datos de la Base de Datos</title>
</head>

<body>
        <!-- crea una liga o referencia a otro documto -->
        <nav id='menu'>
                <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
                <ul>
                        <li><a href="/">Main</a></li>
                        <li><a href="/ver">Select</a></li>
                        <li><a href="/insertar">Insert</a></li>
                </ul>
        </nav>
        <!-- Inicio del cuerpo de documento -->
        <center>
                <h2>Insertar registros</h2>
                <!-- Formulario -->
                <form method="POST" action="/actualizar/{{autos.0}}">
                        <!-- Recuperamos los datos en el formulario para que lo edite el usuario -->
                        <label for="Nombre">Marca: </label>
                        <input type="text" name="nombre" value="{{autos.1}}"><br> <!-- Aqui lo bautizamos -->
                        <br>
                        <label for="Modelo">Modelo: </label>
                        <input type="text" name="m" value="{{autos.2}}"><br>
                        <br>
                        <label for="Anio">Año: </label>
                        <input type="number" name="anio" value="{{autos.3}}"><br>
                        <br>
                        <label for="Precio">Precio: </label>
                        <input type="number" name="pre" value="{{autos.4}}"><br>
                        <br>
                        <br>
                        <input type="submit" value="Actualizar"> <!-- Crear un boton -->
                </form>
        </center>

</body>

</html>